/* NAVIGATION */

#navbar{
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 5px;
}

#admin{
    margin: auto;
    position: relative;
    padding: 3px;
    justify-content: center;
    font-weight: bolder;
}
/* CODERG */
#coderg{
    height: 250px;
    padding: 10px 43px; 
}
#coderg::before{
    height: 350px;
    padding-bottom: 9px;
}
#coderg p{
    font-size: 1rem;
}
#horl{
    display: inline-block;
    width: 100%;
    margin-bottom: 1rem;
}

/* PROJECTS */
#projects{
    flex-direction: column;
}
.pro-details{
    font-size: small;
}
/* ABOUT */

#about .about-cantainer{
    height: 50rem;
}

#about .about-cantainer {
    font-size: smaller;
}

/* CONTACT */

.small{
    font-size: 1.2rem;
}

#version{
    font-size: .4rem;
}

/* FOOTER */



footer p{
    font-size: .70rem;
}
/* UTILITY CLASS */

.h-primary{
    font-size: 1.5rem;
}

